@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-plus-jakarta);
  --color-brand-light: #3b3bff;
  --color-brand: #0808b2;
  --color-brand-dark: #000080;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    /* Slate 900 for a more premium dark mode instead of pure black */
    --foreground: #f8fafc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-brand);
  color: white;
}